/*--------------------------------------*
 * foundation
 *--------------------------------------*/
html {
  box-sizing: border-box;
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #333333;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  min-width: 350px;
  width: 100%;
  overflow-x: hidden;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

a {
  color: #fff;
  text-decoration: underline;
  transition: 0.4s;
}
a:hover {
  text-decoration: none;
}

@media screen and (min-width:600px) {
  .hidden-sm {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .hidden-md {
    display: none;
  }
}

@media screen and (min-width:1000px) {
  .hidden-lg {
    display: none;
  }
}

/*--------------------------------------*
  * layout
  *--------------------------------------*/
.l-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
.l-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-header__logo {
  display: inline-block;
  max-width: 40%;
}

.l-footer {
  background-color: #333;
  color: #fff;
}
.l-footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (min-width:768px) {
  .l-footer__content {
    align-items: center;
    padding-block: 16px;
    padding-inline: 10px;
  }
}
.l-footer__lists {
  font-size: 1rem;
  display: flex;
  gap: 10px;
  padding-block: 5px 24px;
}
@media screen and (min-width:768px) {
  .l-footer__lists {
    flex-direction: column;
    padding-block: 0;
  }
}
.l-footer__copyright {
  font-size: 0.8rem;
  padding-bottom: 2px;
}

/*--------------------------------------*
  * object
  *--------------------------------------*/
/*-------------------
  * component
  -------------------*/
.c-inner {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px 20px;
}

.c-button {
  display: inline-block;
  padding: 3px 20px;
  color: #fff;
  background-color: #f99f48;
  border: solid 2px #f99f48;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
}
.c-button:hover {
  color: #f99f48;
  background-color: #fff;
}

.c-section {
  padding: 50px 0 70px;
  background-color: #f6fff7;
}
.c-section:nth-of-type(odd) {
  background-color: #fff;
}
.c-section__title {
  text-align: center;
  font-size: clamp(1.75rem, 1.662rem + 0.38vw, 2rem);
  font-weight: bold;
  margin-bottom: clamp(1.125rem, 0.795rem + 1.41vw, 2.063rem);
}

/*-------------------
  * project
  -------------------*/
.p-fv {
  background-color: #1b7c26;
  color: #fff;
}
.p-fv__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 26px;
  padding: 40px 0;
  max-width: 100%;
  font-weight: bold;
}
@media screen and (min-width:1000px) {
  .p-fv__content {
    flex-direction: row-reverse;
    gap: 0;
  }
}
.p-fv__content figcaption {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width:600px) {
  .p-fv__content figcaption {
    justify-content: center;
  }
}
.p-fv__content figcaption h1 {
  font-size: clamp(1.75rem, 1.134rem + 2.63vw, 3.5rem);
  line-height: 1.2;
  margin-bottom: 18px;
}
.p-fv__content figcaption h1 .text-100 {
  font-size: clamp(3.125rem, 2.025rem + 4.69vw, 6.25rem);
}
.p-fv__content figcaption h1 .text-96 {
  font-size: clamp(3rem, 1.944rem + 4.51vw, 6rem);
}
.p-fv__content figcaption h1 .text-80 {
  font-size: clamp(2.5rem, 1.62rem + 3.76vw, 5rem);
}
.p-fv__content .p-fv__text {
  font-size: clamp(1.375rem, 1.331rem + 0.19vw, 1.5rem);
  white-space: nowrap;
}
@media screen and (min-width:1000px) {
  .p-fv__content .p-fv__text {
    margin-inline: 0;
  }
}
.p-fv img {
  flex: 1;
  margin-inline: auto;
  width: clamp(12.188rem, 10.427rem + 7.51vw, 17.188rem);
  box-shadow: -6px 6px 10px -2px #555, 0 0 3px #555;
  border-radius: 3px;
}

.p-theme__content {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width:768px) {
  .p-theme__content {
    grid-template-columns: 2fr 3fr;
    gap: clamp(1.875rem, -2.574rem + 10.5vw, 6.875rem);
  }
}
.p-theme__content img {
  width: clamp(20.938rem, 19.067rem + 7.98vw, 26.25rem);
  margin-inline: auto;
}
.p-theme__lists {
  font-size: clamp(1.25rem, 1.162rem + 0.38vw, 1.5rem);
  font-weight: bold;
}
.p-theme__lists li {
  position: relative;
  padding: 10px 10px 10px 22px;
}
.p-theme__lists li:nth-child(1) {
  padding-top: 30px;
}
@media screen and (min-width:768px) {
  .p-theme__lists li:nth-child(1) {
    padding-top: 0;
  }
}
.p-theme__lists li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  position: absolute;
  left: 0px;
}
@media screen and (min-width:768px) {
  .p-theme__lists li::before {
    left: -5px;
  }
}

.p-solution__lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
@media screen and (min-width:768px) {
  .p-solution__lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 58px;
  }
}
.p-solution__list {
  text-align: center;
  background-color: #efefef;
  font-weight: bold;
  border-radius: 4px;
  max-width: 320px;
}
.p-solution__list img {
  width: 320px;
  margin-inline: auto;
}
.p-solution__list p {
  padding-block: clamp(0.625rem, -0.035rem + 2.82vw, 2.5rem);
}

.p-faq__content {
  max-width: 700px;
  margin-inline: auto;
}
.p-faq__details {
  margin-bottom: 10px;
  font-size: clamp(1rem, 0.912rem + 0.38vw, 1.25rem);
}
.p-faq__details[open] .p-faq__summary {
  background-color: #6ebe79;
}
.p-faq__details[open] .p-faq__summary::after {
  transform: rotate(135deg);
}
.p-faq__details[open] .p-faq__answer {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.p-faq__summary {
  position: relative;
  font-weight: bold;
  padding-block: 8px;
  padding-left: 16px;
  padding-right: 35px;
  background-color: #a0daa8;
  cursor: pointer;
  transition: 0.2s;
  list-style: none;
}
.p-faq__summary::-webkit-details-marker {
  display: none;
}
.p-faq__summary::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  font-weight: bold;
  font-size: 20px;
  color: #1b7c26;
  margin: auto;
  top: 16%;
  right: 3%;
  transition: 0.4s;
}
.p-faq__summary:hover {
  background-color: #6ebe79;
}
.p-faq__answer {
  padding-top: 12px;
  padding-bottom: 16px;
}

.p-cv__content {
  max-width: 700px;
  text-align: center;
  margin-inline: auto;
  margin-top: 40px;
}
.p-cv .c-button {
  display: block;
}

/*-------------------
  * utility
  -------------------*/
.u-inline-block {
  display: inline-block;
}/*# sourceMappingURL=style.css.map */