@use "../../foundation/variable" as vars;

.c-section {
  padding: 50px 0 70px;
  background-color: vars.$color-main-100;
  &:nth-of-type(odd) {
    background-color: vars.$color-base;
  }
  &__title {
    text-align: center;
    font-size: clamp(1.75rem, 1.662rem + 0.38vw, 2rem);
    font-weight: bold;
    margin-bottom: clamp(1.125rem, 0.795rem + 1.41vw, 2.063rem);
  }
}
