@use "../../foundation/variable" as vars;

.p-faq {
  &__content {
    max-width: 700px;
    margin-inline: auto;
  }
  &__details {
    margin-bottom: 10px;
    font-size: clamp(1rem, 0.912rem + 0.38vw, 1.25rem);
  }

  &__details[open] {
    .p-faq__summary {
      background-color: vars.$color-main-300;
      &::after {
        transform: rotate(135deg);
      }
    }
    .p-faq__answer {
      animation: fadeIn 0.5s ease;
      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: none;
        }
      }
    }
  }

  &__summary {
    position: relative;
    font-weight: bold;
    padding-block: 8px;
    padding-left: 16px;
    padding-right: 35px;
    background-color: vars.$color-main-200;
    cursor: pointer;
    transition: 0.2s;
    list-style: none;
    &::-webkit-details-marker {
      display: none;
    }
    &::after {
      position: absolute;
      font-family: "Font Awesome 5 Free";
      content: "\f067";
      font-weight: bold;
      font-size: 20px;
      color: vars.$color-main;
      margin: auto;
      top: 16%;
      right: 3%;
      transition: 0.4s;
    }

    &:hover {
      background-color: vars.$color-main-300;
    }
  }
  &__answer {
    padding-top: 12px;
    padding-bottom: 16px;
  }
}
