@use "../../foundation/variable" as vars;

.p-fv {
  background-color: vars.$color-main;
  color: vars.$color-base;
  &__content {
    // flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 26px;
    padding: 40px 0;
    max-width: 100%;
    font-weight: bold;
    @include vars.mq("lg") {
      flex-direction: row-reverse;
      gap: 0;
    }

    figcaption {
      display: flex;
      flex: 2;
      flex-direction: column;
      justify-content: center;
      @include vars.mq("sm") {
        justify-content: center;
      }
      h1 {
        font-size: clamp(1.75rem, 1.134rem + 2.63vw, 3.5rem);
        line-height: 1.2;
        margin-bottom: 18px;

        .text-100 {
          font-size: clamp(3.125rem, 2.025rem + 4.69vw, 6.25rem);
        }
        .text-96 {
          font-size: clamp(3rem, 1.944rem + 4.51vw, 6rem);
        }
        .text-80 {
          font-size: clamp(2.5rem, 1.62rem + 3.76vw, 5rem);
        }
      }
    }
    .p-fv__text {
      font-size: clamp(1.375rem, 1.331rem + 0.19vw, 1.5rem);
      white-space: nowrap;
      @include vars.mq("md") {
        // margin-inline: auto;
      }
      @include vars.mq("lg") {
        margin-inline: 0;
      }
    }
  }
  img {
    flex: 1;
    margin-inline: auto;
    width: clamp(12.188rem, 10.427rem + 7.51vw, 17.188rem);
    box-shadow: -6px 6px 10px -2px #555, 0 0 3px #555;
    border-radius: 3px;
  }
}
