@use "../../foundation/variable" as vars;

.p-solution {
  &__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    @include vars.mq("md") {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 58px;
    }
  }
  &__list {
    text-align: center;
    background-color: vars.$color-gray;
    font-weight: bold;
    border-radius: 4px;
    max-width: 320px;
    img {
      width: 320px;
      margin-inline: auto;
    }
    p {
      padding-block: clamp(0.625rem, -0.035rem + 2.82vw, 2.5rem);
    }
  }
}
